@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.font-serif {
  font-family: "DM Serif Display", serif;
}

/* Custom Scrollbar */

.scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Custom scrollbar styles */
.custom-scrollbar {
  overflow-x: auto;
  width: calc(100% - 240px);
  margin: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  /* display: none; */
  background-color: #888;
  border-radius: 29px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e1e2ec;
  border-radius: 29px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c5c6d0;
  border-radius: 29px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  display: block;
}
